In [1]:
import pandas as pd

In [9]:
# df=pd.read_csv("data/fp107/fp107.trn",delimiter=" ",header=None)
df=pd.read_csv("data/faces/data.tst",delimiter=" ",header=None)

In [10]:
df

,0,1,2,3,4,5,6,7,8,9,...,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048
0,0.077378,0.549630,0.017967,0.335128,0.271998,0.130948,0.332527,0.131305,0.316956,0.232365,...,0.364636,0.072623,1.422145,0.262276,0.401356,0.014067,0.010550,0.000000,0.408034,4
1,0.138128,0.754792,0.074200,0.652338,0.362710,0.217242,0.131061,0.222921,0.238170,0.098926,...,0.392427,0.123459,0.319432,0.137959,1.140866,0.147052,0.270632,0.132956,0.639836,10
2,0.303373,0.257530,0.081790,0.446613,0.171832,0.465197,0.109141,0.083096,0.362390,0.273299,...,0.198938,0.163932,0.786926,0.493805,0.799206,0.049668,0.006236,0.201101,0.490913,14
3,0.139095,0.551260,0.028698,0.121727,0.476426,0.356359,0.312571,0.202580,0.177184,0.626287,...,0.403658,0.365981,1.178210,0.553722,0.505121,0.155675,0.075880,0.070252,0.244996,3
4,0.279562,0.423807,0.062867,0.298631,0.106862,0.262650,0.321028,0.058676,0.363117,0.273473,...,0.263633,0.599722,0.782023,0.171308,0.547284,0.050669,0.029384,0.041648,0.467895,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,0.118652,0.397838,0.031144,0.611017,0.302310,0.204493,0.139672,0.195477,0.242315,0.160468,...,0.012864,0.143697,0.553778,0.342654,0.576765,0.109243,0.080136,0.183525,0.322556,9
188,0.233973,0.429331,0.069675,0.271822,0.380697,0.285386,0.070027,0.146930,0.236746,0.241284,...,0.174984,0.436106,0.671695,0.692967,0.700721,0.018272,0.030362,0.226969,0.357930,2
189,0.034398,1.030838,0.034048,0.244507,0.175188,0.172238,0.249450,0.098530,0.160516,0.228764,...,0.533689,0.146623,1.340935,0.058653,0.442384,0.118471,0.077171,0.159372,0.207463,19
190,0.155077,0.493741,0.054677,0.434994,0.234010,0.140515,0.224152,0.135079,0.226572,0.184408,...,0.127759,0.257879,1.706298,0.060945,0.686505,0.143022,0.004607,0.136463,0.134357,6
191,0.169605,0.701165,0.005111,0.173759,0.390197,0.363311,0.398888,0.414171,0.394196,0.287617,...,0.555429,0.116830,0.953962,0.560497,0.359979,0.043210,0.195969,0.275481,0.252666,3

In [3]:
df.iloc[:,:-1]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2132 rows x 0 columns]

In [11]:
df.iloc[:,-1]

0       0
1       0
2       7
3       4
4       6
       ..
3818    9
3819    4
3820    6
3821    6
3822    7
Name: 64, Length: 3823, dtype: int64

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,0,0,5,13,11,2,0,0,0,2,...,0,0,0,8,13,15,10,1,0,9
3819,0,0,0,1,12,1,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
3820,0,0,3,15,0,0,0,0,0,0,...,0,0,0,4,14,16,9,0,0,6
3821,0,0,6,16,2,0,0,0,0,0,...,0,0,0,5,16,16,16,5,0,6
3822,0,0,2,15,16,13,1,0,0,0,...,0,0,0,4,14,1,0,0,0,7

In [10]:
# Display the first 5 rows of the DataFrame
print("First 5 rows:")
print(df.head())

First 5 rows:
   0   1   2   3   4   5   6   7   8   9   ...  55  56  57  58  59  60  61  \
0   0   1   6  15  12   1   0   0   0   7  ...   0   0   0   6  14   7   1
1   0   0  10  16   6   0   0   0   0   7  ...   0   0   0  10  16  15   3
2   0   0   8  15  16  13   0   0   0   1  ...   0   0   0   9  14   0   0
3   0   0   0   3  11  16   0   0   0   0  ...   0   0   0   0   1  15   2
4   0   0   5  14   4   0   0   0   0   0  ...   0   0   0   4  12  14   7

   62  63  64
0   0   0   0
1   0   0   0
2   0   0   7
3   0   0   4
4   0   0   6

[5 rows x 65 columns]

In [ ]:
# Display the last 5 rows of the DataFrame
print("\nLast 5 rows:")
print(df.tail())

In [ ]:
# Display the shape of the DataFrame (number of rows, number of columns)
print("\nShape of the DataFrame:")
print(df.shape)

In [ ]:
# Display the column names of the DataFrame
print("\nColumn names:")
print(df.columns.tolist())

In [ ]:
# Display the data types of each column
print("\nData types of each column:")
print(df.dtypes)

In [ ]:
# Display basic statistical details like percentile, mean, std, etc. of DataFrame's numerical columns
print("\nStatistical details of numerical columns:")
print(df.describe())

In [ ]:
# Display a concise summary of the DataFrame including the index dtype and column dtypes, non-null values and memory usage
print("\nSummary of the DataFrame:")
print(df.info())

In [ ]:
# Display the correlation matrix, which shows the correlation coefficients between different features in the DataFrame
print("\nCorrelation matrix:")
print(df.corr())

In [ ]:
# To display all columns if the DataFrame has too many columns
pd.set_option('display.max_columns', None)
print("\nAll columns:")
print(df)