In [2]:
import pandas as pd

In [9]:
df=pd.read_csv("data/optics/opt.trn",header=None)

In [7]:
df=pd.read_csv("data/optics/opt.trn")

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3818,0,0,5,13,11,2,0,0,0,2,...,0,0,0,8,13,15,10,1,0,9
3819,0,0,0,1,12,1,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
3820,0,0,3,15,0,0,0,0,0,0,...,0,0,0,4,14,16,9,0,0,6
3821,0,0,6,16,2,0,0,0,0,0,...,0,0,0,5,16,16,16,5,0,6
3822,0,0,2,15,16,13,1,0,0,0,...,0,0,0,4,14,1,0,0,0,7

In [10]:
# Display the first 5 rows of the DataFrame
print("First 5 rows:")
print(df.head())

First 5 rows:
   0   1   2   3   4   5   6   7   8   9   ...  55  56  57  58  59  60  61  \
0   0   1   6  15  12   1   0   0   0   7  ...   0   0   0   6  14   7   1
1   0   0  10  16   6   0   0   0   0   7  ...   0   0   0  10  16  15   3
2   0   0   8  15  16  13   0   0   0   1  ...   0   0   0   9  14   0   0
3   0   0   0   3  11  16   0   0   0   0  ...   0   0   0   0   1  15   2
4   0   0   5  14   4   0   0   0   0   0  ...   0   0   0   4  12  14   7

   62  63  64
0   0   0   0
1   0   0   0
2   0   0   7
3   0   0   4
4   0   0   6

[5 rows x 65 columns]

In [ ]:
# Display the last 5 rows of the DataFrame
print("\nLast 5 rows:")
print(df.tail())

In [ ]:
# Display the shape of the DataFrame (number of rows, number of columns)
print("\nShape of the DataFrame:")
print(df.shape)

In [ ]:
# Display the column names of the DataFrame
print("\nColumn names:")
print(df.columns.tolist())

In [ ]:
# Display the data types of each column
print("\nData types of each column:")
print(df.dtypes)

In [ ]:
# Display basic statistical details like percentile, mean, std, etc. of DataFrame's numerical columns
print("\nStatistical details of numerical columns:")
print(df.describe())

In [ ]:
# Display a concise summary of the DataFrame including the index dtype and column dtypes, non-null values and memory usage
print("\nSummary of the DataFrame:")
print(df.info())

In [ ]:
# Display the correlation matrix, which shows the correlation coefficients between different features in the DataFrame
print("\nCorrelation matrix:")
print(df.corr())

In [ ]:
# To display all columns if the DataFrame has too many columns
pd.set_option('display.max_columns', None)
print("\nAll columns:")
print(df)